# **GET DATA AND CREATE CSV FILES OF THE DATA**

In [ ]:
pip install pyjstat

Requirement already satisfied: pyjstat in /usr/local/lib/python3.6/dist-packages (2.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pyjstat) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pyjstat) (1.1.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pyjstat) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pyjstat) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pyjstat) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pyjstat) (2020.6.20)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->pyjstat) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pyjstat) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pyjstat) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pyjstat) (1.15.0)

In [ ]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from pyjstat import pyjstat
import json

# **Get Data**

## **Functions**

Get data and return dataframe

In [ ]:
def create_csv_of_data(url, payload, name_of_csv_file):

  result = requests.post(url, json=payload)
  dataset = pyjstat.Dataset.read(result.text)
  df = dataset.write('dataframe')
  df.head()
  df.tail()
  df.info()

  df.to_csv(name_of_csv_file)

  return 'Data is downloaded and put in csv file'

In [ ]:
def remove_character(data_set):
  char_list = ['¬¬','¬', "'"]

  for i in char_list:
    for j in data_set:
      if i in data_set[j]:
        data_set[j] = data_set[j].str.replace(i, '')
      else:
        continue
  return data_set

## **lovbrudd-08485.csv**

### **payload_08485**

In [ ]:
payload_08485 = {
  "query": [
    {
      "code": "Region",
      "selection": {
        "filter": "item",
        "values": [
          "P01"
        
        ]
      }
    },
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

### **Prep.**

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/08485', payload_08485, 'lovbrudd-08485.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              864 non-null    object
 1   lovbruddstype       864 non-null    object
 2   statistikkvariabel  864 non-null    object
 3   år                  864 non-null    object
 4   value               384 non-null    float64
dtypes: float64(1), object(4)
memory usage: 33.9+ KB

'Data is downloaded and put in csv file'

In [ ]:
lovbrudd_08485_df = pd.read_csv(r'./lovbrudd-08485.csv')

In [ ]:
lovbrudd_08485_df['lovbruddstype'] = lovbrudd_08485_df['lovbruddstype'].str.replace('¬¬', '')
lovbrudd_08485_df['lovbruddstype'] = lovbrudd_08485_df['lovbruddstype'].str.replace('¬', '')
lovbrudd_08485_df['lovbruddstype'] = lovbrudd_08485_df['lovbruddstype'].str.replace("'", '')

lovbrudd_08485_df = lovbrudd_08485_df.fillna(0)
del lovbrudd_08485_df['Unnamed: 0']

In [ ]:
lovbrudd_08485_df.to_csv('./Done files/lovbrudd_08485.csv',encoding='utf-8', sep=',', index=False)

## **lovbrudd-09405.csv**

### **payload_09405**

In [ ]:
payload_09405 = {
  "query": [
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "PolitiAvgjorelse",
      "selection": {
        "filter": "item",
        "values": [
          "AAA-BZZ",
          "AAA-AZZ",
          "AAZ",
          "BEA",
          "BZH-BZZ"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09405', payload_09405, 'lovbrudd-09405.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45655 entries, 0 to 45654
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   lovbruddstype         45655 non-null  object
 1   politiets avgjørelse  45655 non-null  object
 2   statistikkvariabel    45655 non-null  object
 3   år                    45655 non-null  object
 4   value                 35545 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.7+ MB

'Data is downloaded and put in csv file'

### **Prep**

In [ ]:
lovbrudd_09405_df = pd.read_csv('lovbrudd-09405.csv')

In [ ]:
lovbrudd_09405_df['lovbruddstype'] = lovbrudd_09405_df['lovbruddstype'].str.replace('¬¬', '')
lovbrudd_09405_df['lovbruddstype'] = lovbrudd_09405_df['lovbruddstype'].str.replace('¬', '')
lovbrudd_09405_df['lovbruddstype'] = lovbrudd_09405_df['lovbruddstype'].str.replace("'", '')

lovbrudd_09405_df['politiets avgjørelse'] = lovbrudd_09405_df['politiets avgjørelse'].str.replace('¬¬', '')
lovbrudd_09405_df['politiets avgjørelse'] = lovbrudd_09405_df['politiets avgjørelse'].str.replace('¬', '')
lovbrudd_09405_df['politiets avgjørelse'] = lovbrudd_09405_df['politiets avgjørelse'].str.replace("'", '')

lovbrudd_09405_df['statistikkvariabel'] = lovbrudd_09405_df['statistikkvariabel'].str.replace('¬¬', '')
lovbrudd_09405_df['statistikkvariabel'] = lovbrudd_09405_df['statistikkvariabel'].str.replace('¬', '')
lovbrudd_09405_df['statistikkvariabel'] = lovbrudd_09405_df['statistikkvariabel'].str.replace("'", '')

lovbrudd_09405_df = lovbrudd_09405_df.fillna(0)
del lovbrudd_09405_df['Unnamed: 0']

In [ ]:
lovbrudd_09405_df.to_csv(r'./ferdig_filer/lovbrudd_09405.csv', encoding='utf-8', sep=',', index=False)

## **lovbrudd-09406.csv**

### **Payload**

In [ ]:
payload_09406 = {
  "query": [
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09406', payload_09406, 'lovbrudd-09406.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14168 entries, 0 to 14167
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lovbruddstype       14168 non-null  object
 1   statistikkvariabel  14168 non-null  object
 2   år                  14168 non-null  object
 3   value               12189 non-null  float64
dtypes: float64(1), object(3)
memory usage: 442.9+ KB

'Data is downloaded and put in csv file'

### **Prep.**

In [ ]:
lovbrudd_09406_df = pd.read_csv('lovbrudd-09406.csv')

In [ ]:
lovbrudd_09406_df['lovbruddstype'] = lovbrudd_09406_df['lovbruddstype'].str.replace('¬¬', '')
lovbrudd_09406_df['lovbruddstype'] = lovbrudd_09406_df['lovbruddstype'].str.replace('¬', '')
lovbrudd_09406_df['lovbruddstype'] = lovbrudd_09406_df['lovbruddstype'].str.replace("'", '')

lovbrudd_09406_df = lovbrudd_09406_df.fillna(0)
del lovbrudd_09406_df['Unnamed: 0']

In [ ]:
lovbrudd_09406_df.to_csv(r'./Done files/lovbrudd_09406.csv', encoding='utf-8', sep=',', index=False)

## **lovbrudd-09407.csv**

### **payload_09407**

In [ ]:
payload_09407 = {
  "query": [
    {
      "code": "Region",
      "selection": {
        "filter": "item",
        "values": [
          "P01",
      
        ]
      }
    },
    {
      "code": "PolitiAvgjorelse",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09407', payload_09407, 'lovbrudd-09407.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   region                204 non-null    object
 1   politiets avgjørelse  204 non-null    object
 2   statistikkvariabel    204 non-null    object
 3   år                    204 non-null    object
 4   value                 168 non-null    float64
dtypes: float64(1), object(4)
memory usage: 8.1+ KB

'Data is downloaded and put in csv file'

### **prep. 09407**

In [ ]:
lovbrudd_09407_df = pd.read_csv('lovbrudd-09407.csv')

In [ ]:
lovbrudd_09407_df['politiets avgjørelse'] = lovbrudd_09407_df['politiets avgjørelse'].str.replace('¬¬', '')
lovbrudd_09407_df['politiets avgjørelse'] = lovbrudd_09407_df['politiets avgjørelse'].str.replace('¬', '')
lovbrudd_09407_df['politiets avgjørelse'] = lovbrudd_09407_df['politiets avgjørelse'].str.replace("'", '')

lovbrudd_09407_df = lovbrudd_09407_df.fillna(0)
del lovbrudd_09407_df['Unnamed: 0']

In [ ]:
lovbrudd_09407_df.to_csv(r'./Done files/lovbrudd_09407.csv', encoding='utf-8', sep=',', index=False)

## **lovbrudd-09408.csv**

### **payload_09408**

In [ ]:
payload_09408 = {
  "query": [
    {
      "code": "Region",
      "selection": {
        "filter": "item",
        "values": [
          "P01",
         
        ]
      }
    },
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09408', payload_09408, 'lovbrudd-09408.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              782 non-null    object
 1   lovbruddstype       782 non-null    object
 2   statistikkvariabel  782 non-null    object
 3   år                  782 non-null    object
 4   value               618 non-null    float64
dtypes: float64(1), object(4)
memory usage: 30.7+ KB

'Data is downloaded and put in csv file'

### **prep. 090408**

In [ ]:
lovbrudd_09408_df = pd.read_csv('lovbrudd-09408.csv')

In [ ]:
lovbrudd_09408_df['lovbruddstype'] = lovbrudd_09408_df['lovbruddstype'].str.replace('¬¬', '')
lovbrudd_09408_df['lovbruddstype'] = lovbrudd_09408_df['lovbruddstype'].str.replace('¬', '')
lovbrudd_09408_df['lovbruddstype'] = lovbrudd_09408_df['lovbruddstype'].str.replace("'", '')

lovbrudd_09408_df = lovbrudd_09408_df.fillna(0)
del lovbrudd_09408_df['Unnamed: 0']

In [ ]:
lovbrudd_09408_df

           region                            lovbruddstype  ...    år    value
0    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2002  96824.0
1    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2003  94040.0
2    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2004  90584.0
3    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2005  82886.0
4    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2006  78678.0
..            ...                                      ...  ...   ...      ...
777  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2014     69.0
778  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2015      0.0
779  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2016      0.0
780  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2017      0.0
781  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2018      0.0

[782 rows x 5 columns]

In [ ]:
lovbrudd_09408_df.to_csv(r'./Done files/lovbrudd_09408.csv', encoding='utf-8', sep=',', index=False)

## **Lovbrudd-09409.csv**

### **payload_09409**

In [ ]:
payload_09409 = {
  "query": [
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "AntSiktede",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09409', payload_09409, 'lovbrudd-09409.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47124 entries, 0 to 47123
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   lovbruddstype            47124 non-null  object
 1   antall siktede personer  47124 non-null  object
 2   statistikkvariabel       47124 non-null  object
 3   år                       47124 non-null  object
 4   value                    43848 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.8+ MB

'Data is downloaded and put in csv file'

### **prep. 09409**

In [ ]:
lovbrudd_09409_df = pd.read_csv('lovbrudd-09409.csv')

In [ ]:
lovbrudd_09409_df['lovbruddstype'] = lovbrudd_09409_df['lovbruddstype'].str.replace('¬¬', '')
lovbrudd_09409_df['lovbruddstype'] = lovbrudd_09409_df['lovbruddstype'].str.replace('¬', '')
lovbrudd_09409_df['lovbruddstype'] = lovbrudd_09409_df['lovbruddstype'].str.replace("'", '')

lovbrudd_09409_df = lovbrudd_09409_df.fillna(0)
del lovbrudd_09409_df['Unnamed: 0']

In [ ]:
lovbrudd_09409_df.to_csv(r'./Done files/lovbrudd_09409.csv', encoding='utf-8', sep=',', index=False)

## **lovbrudd-09410.csv**

### **payload_09410**

In [ ]:
payload_09410 = {
  "query": [
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Alder",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09410', payload_09410, 'lovbrudd-09410.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45036 entries, 0 to 45035
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lovbruddstype       45036 non-null  object
 1   alder               45036 non-null  object
 2   statistikkvariabel  45036 non-null  object
 3   år                  45036 non-null  object
 4   value               35916 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.7+ MB

'Data is downloaded and put in csv file'

### **prep. 09410**

In [ ]:
lovbrud_09410_df = pd.read_csv('lovbrudd-09410.csv')

In [ ]:
lovbrud_09410_df['lovbruddstype'] = lovbrud_09410_df['lovbruddstype'].str.replace('¬¬', '')
lovbrud_09410_df['lovbruddstype'] = lovbrud_09410_df['lovbruddstype'].str.replace('¬', '')
lovbrud_09410_df['lovbruddstype'] = lovbrud_09410_df['lovbruddstype'].str.replace("'", '')

lovbrud_09410_df = lovbrud_09410_df.fillna(0)
del lovbrud_09410_df['Unnamed: 0']

In [ ]:
lovbrud_09410_df.to_csv(r'./Done files/lovbrudd_09410.csv',encoding='utf-8', sep=',', index=False)

## **lovbrudd-09411.csv**

### **payload_09411**

In [ ]:
payload_09411 = {
  "query": [
    {
      "code": "LovbruddKrim",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Kjonn",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09411', payload_09411, 'lovbrudd-09411.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18765 entries, 0 to 18764
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   lovbruddstype       18765 non-null  object
 1   kjønn               18765 non-null  object
 2   statistikkvariabel  18765 non-null  object
 3   år                  18765 non-null  object
 4   value               14965 non-null  float64
dtypes: float64(1), object(4)
memory usage: 733.1+ KB

'Data is downloaded and put in csv file'

### **prep. 09411**

In [ ]:
lovbrud_09411_df = pd.read_csv('lovbrudd-09411.csv')

In [ ]:
lovbrud_09411_df['lovbruddstype'] = lovbrud_09411_df['lovbruddstype'].str.replace('¬¬', '')
lovbrud_09411_df['lovbruddstype'] = lovbrud_09411_df['lovbruddstype'].str.replace('¬', '')
lovbrud_09411_df['lovbruddstype'] = lovbrud_09411_df['lovbruddstype'].str.replace("'", '')

lovbrud_09411_df = lovbrud_09411_df.fillna(0)
del lovbrud_09411_df['Unnamed: 0']

In [ ]:
lovbrud_09411_df.to_csv(r'./Done files/lovbrudd_09411.csv',encoding='utf-8', sep=',', index=False)

## **lovbrudd-09412.csv**

### **payload_09412**

In [ ]:
payload_09412 = {
  "query": [
    {
      "code": "AntallLovbr",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Alder",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09412', payload_09412, 'lovbrudd-09412.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antall lovbrudd     2244 non-null   object
 1   alder               2244 non-null   object
 2   statistikkvariabel  2244 non-null   object
 3   år                  2244 non-null   object
 4   value               2244 non-null   int64
dtypes: int64(1), object(4)
memory usage: 87.8+ KB

'Data is downloaded and put in csv file'

### **prep. 09412**

In [ ]:
lovbrudd_09412_df = pd.read_csv('lovbrudd-09412.csv')

In [ ]:
lovbrudd_09412_df = lovbrudd_09412_df.fillna(0)
del lovbrudd_09412_df['Unnamed: 0']

In [ ]:
lovbrudd_09412_df.to_csv(r'./Done files/lovbrudd_09412.csv',encoding='utf-8', sep=',', index=False)

## **lovbrudd-09413.csv**

### **payload_09413**

In [ ]:
payload_09413 = {
  "query": [
    {
      "code": "AntallLovbr",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Kjonn",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/09413', payload_09413, 'lovbrudd-09413.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antall lovbrudd     935 non-null    object
 1   kjønn               935 non-null    object
 2   statistikkvariabel  935 non-null    object
 3   år                  935 non-null    object
 4   value               935 non-null    int64
dtypes: int64(1), object(4)
memory usage: 36.6+ KB

'Data is downloaded and put in csv file'

### **prep. 09413**

In [ ]:
lovbrudd_09413_df = pd.read_csv('lovbrudd-09413.csv')

In [ ]:
lovbrudd_09413_df = lovbrudd_09413_df.fillna(0)
del lovbrudd_09413_df['Unnamed: 0']

In [ ]:
lovbrudd_09413_df.to_csv(r'./Done files/lovbrudd_09413.csv',encoding='utf-8', sep=',', index=False)

## **lovbrudd-11453.csv**

### **payload_11453**

In [ ]:
payload_11453 ={
  "query": [
    {
      "code": "Kjonn",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Alder",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "ContentsCode",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    },
    {
      "code": "Tid",
      "selection": {
        "filter": "all",
        "values": [
          "*"
        ]
      }
    }
  ],
  "response": {
    "format": "json-stat2"
  }
}

In [ ]:
create_csv_of_data('https://data.ssb.no/api/v0/no/table/11453', payload_11453, 'lovbrudd-11453.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4860 entries, 0 to 4859
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   kjønn               4860 non-null   object
 1   alder               4860 non-null   object
 2   statistikkvariabel  4860 non-null   object
 3   år                  4860 non-null   object
 4   value               4860 non-null   int64
dtypes: int64(1), object(4)
memory usage: 190.0+ KB

'Data is downloaded and put in csv file'

### **prep. 11453**

In [ ]:
lovbrudd_11453_df = pd.read_csv('lovbrudd-11453.csv')

In [ ]:
lovbrudd_11453_df = lovbrudd_11453_df.fillna(0)
del lovbrudd_11453_df['Unnamed: 0']

In [ ]:
lovbrudd_11453_df.to_csv(r'./Done files/lovbrudd_11453.csv',encoding='utf-8', sep=',', index=False)

## **Clean Dataset**

### **df_08485**

In [ ]:
df_08485 = pd.read_csv('/content/Done files/lovbrudd_08485.csv')
df_08485

           region          lovbruddstype  ...    år  value
0    Oslo (-2015)  Alle lovbruddsgrupper  ...  2002    0.0
1    Oslo (-2015)  Alle lovbruddsgrupper  ...  2003    0.0
2    Oslo (-2015)  Alle lovbruddsgrupper  ...  2004    0.0
3    Oslo (-2015)  Alle lovbruddsgrupper  ...  2005    0.0
4    Oslo (-2015)  Alle lovbruddsgrupper  ...  2006    0.0
..            ...                    ...  ...   ...    ...
859  Oslo (-2015)     Annen kriminalitet  ...  2015    0.0
860  Oslo (-2015)     Annen kriminalitet  ...  2016    0.0
861  Oslo (-2015)     Annen kriminalitet  ...  2017    0.0
862  Oslo (-2015)     Annen kriminalitet  ...  2018    0.0
863  Oslo (-2015)     Annen kriminalitet  ...  2019    0.0

[864 rows x 5 columns]

In [ ]:
df_08485.dtypes

region                 object
lovbruddstype          object
statistikkvariabel     object
år                      int64
value                 float64
dtype: object

In [ ]:
df_08485['Lovbrudd anmeldt per 1 000 innbyggere'] = df_08485['value'].where(df_08485['statistikkvariabel'] == 'Lovbrudd anmeldt per 1 000 innbyggere')
df_08485['Lovbrudd anmeldt'] = df_08485['value'].where(df_08485['statistikkvariabel'] != 'Lovbrudd anmeldt per 1 000 innbyggere' )
del df_08485['statistikkvariabel']
del df_08485['region'] 
del df_08485['value']
df_08485 = df_08485.fillna(0)

In [ ]:
df_08485.to_csv('/content/clean_dataset/lovbrudd_08485.csv', sep=',', encoding='utf-8', index=False)

### **df_09406**

In [ ]:
df_09406 = pd.read_csv('/content/Done files/lovbrudd_09406.csv')
df_09406

In [ ]:
df_09406.dtypes

In [ ]:
df_09406['oppklaringsprosent'] = df_09406['value'].where(df_09406['statistikkvariabel'] == 'Lovbrudd etterforsket. Oppklaringsprosent')
df_09406['Lovbrudd etterforsket'] = df_09406['value'].where(df_09406['statistikkvariabel'] != 'Lovbrudd etterforsket. Oppklaringsprosent' )
del df_09406['statistikkvariabel']
del df_09406['value']
df_09406 = df_09406.fillna(0)

In [ ]:
df_09406.to_csv('/content/clean_dataset/lovbrudd_09406.csv',sep=',', encoding='utf-8', index=False)

### **df_09408**

In [ ]:
df_09408 = pd.read_csv('/content/Done files/lovbrudd_09408.csv')
df_09408

           region                            lovbruddstype  ...    år    value
0    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2002  96824.0
1    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2003  94040.0
2    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2004  90584.0
3    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2005  82886.0
4    Oslo (-2015)                    Alle lovbruddsgrupper  ...  2006  78678.0
..            ...                                      ...  ...   ...      ...
777  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2014     69.0
778  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2015      0.0
779  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2016      0.0
780  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2017      0.0
781  Oslo (-2015)  Annen kriminalitet (inkl. Arbeidsmiljø)  ...  2018      0.0

[782 rows x 5 columns]

In [ ]:
df_09408['oppklaringsprosent'] = df_09408['value'].where(df_09408['statistikkvariabel'] == 'Lovbrudd etterforsket. Oppklaringsprosent')
df_09408['Lovbrudd etterforsket'] = df_09408['value'].where(df_09408['statistikkvariabel'] != 'Lovbrudd etterforsket. Oppklaringsprosent' )
del df_09408['statistikkvariabel']
del df_09408['value']
del df_09408['region']
df_09408 = df_09408.fillna(0)

In [ ]:
df_09408.to_csv('/content/clean_dataset/lovbrudd_09408.csv', sep=',', encoding='utf-8', index=False)

# **Machine learning**

Get the data

In [ ]:
df = pd.read_csv('/content/ferdig_filer/lovbrudd_09405.csv')

In [ ]:
df = df[df['value'] != 0.0]

In [ ]:
df